Επιβεβαίωση εγγραφής στο TimeOff.Management
=====
<p>Γεια σου {{name}},</p>

<p>Για να ολοκληρώσετε τη διαδικασία εγγραφής σας στο TimeOff.Management, κάντε κλικ στον παρακάτω σύνδεσμο:</p>

<p>{{confirm_registration_link}}</p>

<p>Ευχαριστούμε</p>
