Επαναφορά κωδικού για το TimeOff.Management
=====
{{# with user ~}}
<p>Γεια σου <strong>{{this.name}}</strong>,</p>

<p>Κάποιος ζήτησε σύνδεσμο επαναφοράς κωδικού για τον λογαριασμό σας στο {{> email/link href=(get_application_domain) text='TimeOff.Management' }}</p>

{{# if company.ldap_auth_enabled }}
<p>Η εταιρεία σας χρησιμοποιεί LDAP ταυτοποίηση και δεν μπορούμε να επαναφέρουμε τον κωδικό σας.</p>

<p>Επικοινωνήστε με τον διαχειριστή συστήματος για επαναφορά κωδικού στον Active Directory διακομιστή.</p>

{{ else }}
<p>
  Ακολουθήστε τον παρακάτω σύνδεσμο για να συνεχίσετε:

  {{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Αίτηση επαναφοράς κωδικού' }}
</p>

<p>
  Εναλλακτικά, αντιγράψτε και επικολλήστε τον παρακάτω σύνδεσμο στο πρόγραμμα περιήγησής σας: <pre>{{ concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token) }}</pre>
</p>
{{/if}}

{{~/ with}}

<p>Ευχαριστούμε</p>
