Το αίτημα άδειας {{#if_equal action 'approve'}}εγκρίθηκε{{else}}απορρίφθηκε{{/if_equal}}
=====
<p>Γεια σου <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

{{> email/leave_comments comments=comments }}

<p>Ο/Η {{#with approver }}{{this.full_name}}{{/with}} αποφάσισε να <strong>{{action}}</strong> {{#if was_pended_revoke}}την ακύρωση της {{/if}}αίτησής σας για άδεια <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Ευχαριστούμε</p>
