Εγγραφή ολοκληρώθηκε
=====
<p>Γεια σου <strong>{{user.name}}</strong>,</p>

<p>Ευχαριστούμε που εγγραφήκατε στο {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Ευχαριστούμε</p>
