Επαναφορά κωδικού για το Σύστημα διαχείρισης αδειών της CMT Prooptiki
=====
{{# with user ~}}
<p>Γεια σου <strong>{{this.name}}</strong>,</p>

<p>Ο κωδικός σας για το {{> email/link href=(get_application_domain) text='Σύστημα διαχείρισης αδειών της CMT Prooptiki' }} άλλαξε επιτυχώς.</p>

{{~/ with }}

<p>Ευχαριστούμε</p>
