Επαναφορά κωδικού για το TimeOff.Management
=====
{{# with user ~}}
<p>Γεια σου <strong>{{this.name}}</strong>,</p>

<p>Ο κωδικός σας για το {{> email/link href=(get_application_domain) text='TimeOff.Management' }} άλλαξε επιτυχώς.</p>

{{~/ with }}

<p>Ευχαριστούμε</p>
