
{{> header }}

<h1>Αναφορές</h1>

<div class="row">
  <div class="col-md-6 lead">Λίστα διαθέσιμων αναφορών</div>
</div>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-4">
    <div class="well well-lg text-center">
      <a class="btn btn-link btn-lg" href="/reports/allowancebytime/">Χρήση αδειών ανά χρονική περίοδο <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
    <div class="col-md-4">
    <div class="well well-lg text-center">
      <a class="btn btn-link btn-lg" href="/reports/leaves/">Απουσίες υπαλλήλων <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div>

{{> footer }}
