
<p>
  Φέτος ο/η {{#with requester}}{{this.full_name}}{{/with}} έχει χρησιμοποιήσει
  {{~#with requesterAllowance}} {{this.number_of_days_taken_from_allowance}} {{/with~}}
   ημέρες από το επίδομα αδείας. Ενώ {{#with requesterAllowance}} {{this.number_of_days_available_in_allowance}} ημέρες είναι ακόμα διαθέσιμες. {{/with}}
</p>

